In [ ]:
#Muhammad Ahsan Shahzad  Fa24-bbd-099

In [13]:
# Question no. 1

# Function named greet_with_time that takes a name as input and prints a       greeting message along with the current time.

In [2]:
import datetime

def greet_with_time(name):
    print("\nHello, " + name + "!")
    print("it is ", datetime.datetime.now())
    
print(greet_with_time("Ahsan"))

Hello, Ahsan!
it is  2024-11-28 12:12:30.558014
None

In [ ]:
#Question no. 2

# function called calculate_average that takes three numbers as input and returns their average.

In [4]:
def calculate_average(no1, no2, no3):
    Sum = no1 + no2 + no3
    average = Sum / 3
    return average

print(calculate_average(59,78,999))

378.6666666666667

In [ ]:
#Question no.3

# function calculate_discount that takes a price and a discount percentage as      input.      Set a default discount percentage of 10%.

In [6]:
def calculate_discount(price, discount_percentage = 10):
    discount_price = price * (discount_percentage / 100)
    total_price = price - discount_price
    return total_price

print(calculate_discount(900,20))
print(calculate_discount(380))

720.0
342.0

In [14]:
#Question no.4

#  function print_info that takes a name, age, and city as keyword arguments

In [10]:
def print_info(name, age, city):
    print(name.title(), "lives in", city.title())
    print("His age is", age)
    
print(print_info(age = 21, name = "Muhammad Ahsan Shahzad", city = "Manga Mandi"))

Muhammad Ahsan Shahzad lives in Manga Mandi
His age is 21
None

In [16]:
#Question no.5

#  function find_max that can take any number of arguments and returns the           maximum value

In [12]:
def find_max(*numbers):
    Max = max(numbers)
    return Max

print("Max:", find_max(4,5,67,268,68,4,24,457))

Max: 457

In [15]:
#Question no.6

# Implement a recursive function to calculate the factorial of a number

In [21]:
def factorial(number):
    result = 1
    if number > 0 :
        result = number * factorial(number - 1)
    return result
print("Factorial:", factorial(40))

Factorial: 815915283247897734345611269596115894272000000000

In [22]:
#Question no.7

# function apply_function that takes a function and a list of numbers as input. Apply the function to each number in the list and return a new list with the results.Â¶

In [10]:
def apply_function(func, numbers):
    return [func(num) for num in numbers]

def double(x):
    return x * 2

nums = [1, 2, 3, 4]
result = apply_function(double, nums)
print(result)

[2, 4, 6, 8]

In [ ]:
#Question no.8

In [ ]:
#Lambda Functions:
Create a lambda function to square a number.

In [1]:
def square(x):
    return x ** 2

print(square(4))
print(square(7))

16
49

#Question no.9

In [ ]:
#Higher-Order Functions:
Write a function apply_operation that takes a function and a list of numbers. Apply the function to each number and return a new list.

In [5]:
def apply_operation(func, numbers):
    return [func(num) for num in numbers]

def square(x):
    return x ** 2

nums = [1, 2, 3, 4]
result = apply_operation(square, nums)
print(result)

[1, 4, 9, 16]

In [ ]:
#Question no.10

In [12]:
#Implement a decorator to measure the execution time of a function.

In [7]:
import time

def measure_execution_time(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        print(f"Execution time: {end - start:.4f} seconds")
        return result
    return wrapper

@measure_execution_time
def sample_function():
    total = 0
    for i in range(1000000):
        total += i
    return total

sample_function()

Execution time: 0.2413 seconds

499999500000